<!DOCTYPE html>
<html>
    <head>
        <title>
            Meadowlark Travel
        </title>
    </head>
    <body>
        <header>
            <img src="/img/miguel.png" alt="Miguel the logo">
        </header>
        {{{body}}}
    </body>
</html>